<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByAttribute>GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <Exclude>[AresNexus.Settlement.Api]AresNexus.Settlement.Api.Program,[*]*Migrations*,[*]*Mock*,[*]*ServiceBusOptions*,[*]*Logging*,[AresNexus.Settlement.Api]AresNexus.Settlement.Api.DataSeeder,[AresNexus.Settlement.Infrastructure]AresNexus.Settlement.Infrastructure.Repositories.MartenAccountRepository</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
