<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByFile>**/Migrations/*.cs,**/DTOs/*.cs,**/Models/*.cs,**/Program.cs</ExcludeByFile>
          <Exclude>[*]*.Migrations.*,[*]*.DTOs.*,[*]*.Models.*,[*]Infrastructure.Persistence.*</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
